.clearfix{
    zoom: 1;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

div[v-cloak]{
    display: none;
}

p,h1,h2,h3,h4,h5,h6,div{
    max-height: 9999999px;
}

#app{
    background-color: #00c091;
    padding-top: 100px;
    padding-bottom: 40px;
    transition: 0.3s;
}

.header,
.preview-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 0 50px;
    line-height: 60px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 20;
}

.preview-header{
    padding: 0;
}

.preview-header .back-btn,
.preview-header .print-btn{
    height: 100%;
    padding: 0 50px;
    background-color: #00c091;
    color: #fff;
    user-select: none;
    cursor: pointer;
}

.header .logo{
    color: #00c091;
    font-size: 20px;
    font-weight: 700;
}

.header .header-right{
    position: relative;
}

.header .header-right > div{
    display: flex;
    justify-content: flex-end;
}

.header .header-right .login-signup{
    position: absolute;
    min-width: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
}

.header .header-right .login{
    margin-right: 20px;
}

.header .header-right a{
    color: #00c091;
    transition: .3s;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    display: block;
    white-space:nowrap;
}

.header .header-right .sign-up{
    color: #fff;
    border-radius: 5px;
    background-color: #00c091;
}

.header .header-right .sign-up:hover{
    background-color: #00C06D;
}

.header .header-right .login:hover{
    color: #00C06D;
}

.header .prompt{
    color: #13CE66;
    font-size: 14px;
}

#aside{
    width: 200px;
    height: 100vh;
    /*background-color: #fff;*/
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 100px;
    border-right: 1px solid #2bd8ae;
    z-index: 19;
}

#aside .resume-operation,
#aside .resume-content-editor{
    display: flex;
    flex-direction: column;
}

#aside a{
    color: #666;
    transition: .3s;
}

#aside a:hover{
    color: #00c091;
}

#aside .resume-operation{
    margin-bottom: 30px;
    height: 100%;
}

#aside .resume-content-editor{
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
}

#aside .resume-operation ul{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#aside .resume-operation ul li{
    text-align: center;
    padding: 30px 0;
}

#aside ul li a{
    color: #fff;
    line-height: 30px;
}

#aside ul li a i,
#aside .close-module-btn i{
    margin-right: 10px;
    font-size: 18px;
}

#aside ul li a:hover{
    color: #eee;
}

#main{
    width: 800px;
    min-height: 1066px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

@media screen and (max-width: 1200px) {
    #main{
        transform: translateX(100px);
    }
}

#main .resume{
    font-size: 14px;
}

#main .resume .personal-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}


#main .resume .personal-info .name{
    font-size: 30px;
    color: #333;
    font-weight: 600;
}

#main .resume .personal-info .areer-objective{
    margin-top: 36px;
    font-size: 16px;
    color: #333333;
}

#main .resume .personal-info .areer-objective div{
    display: inline;
}

#main .resume .personal-info .right{
    display: flex;
    justify-content: space-between;
}

#main .resume .personal-info .right ul:last-child{
    margin-left: 50px;
}

#main .resume .personal-info .right ul li{
    color: #666;
    line-height: 30px;
}

#main .resume .personal-info .right ul li div{
    display: inline;
}

#main .resume section{
    padding: 15px 6mm 0;
    border: 2px transparent dashed;
}

#main .resume section:hover,
#main .resume section.active{
    position: relative;
    background-color: #fff;
    border-color: #00c091;
}

#main .resume section.active{
    z-index: 60;
}

.mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 25;
}

#main .resume section h2{
    font-size: 20px;
    color: #333;
    margin: 10px 0 20px;
    font-weight: 600;
    position: relative;
}

#main .resume section h2:after{
    content: '';
    display: block;
    width: 85%;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #ccc;
}

#main .resume section .content div{
    line-height: 1.8;
}

#main .resume section .expe-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    line-height: 1.8em;
}

#main .resume section .content .expe-item{
    padding: 15px 20px;
    color: #444;
    position: relative;
}

#main .resume section .content .expe-item::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eee;
    left: 0;
    bottom: 0;
}

#main .resume section .content .expe-item:hover{
    background-color: #E7F2FF;
}

#main .resume section .content .expe-item:last-child::after{
    display: none;
}

#main .resume section .content .expe-item .date{
    display: flex;
    justify-content: left;
}

#main .resume .skill .skill-item{
    padding: 10px 20px;
}

#main .resume .skill .skill-item h3{
    color: #444;
    font-size: 16px;
    line-height: 1.2em;
    padding-left: 15px;
    position: relative;
}

#main .resume .skill .skill-item h3:before{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    background-color: #444;
}

#main .resume .skill .skill-item p{
    padding: 0 15px;
}

#main .resume input[type=text]{
    border: none;
    outline: none;
    font-size: 100%;
    color: inherit;
    height: 1.5em;
    line-height: 1.5em;
}

.current-user .username{
    color: #00c091;
    font-weight: bold;
}

.header .current-user .logout{
    line-height: inherit;
    font-size: 14px;
    color: #999;
}

.header .current-user .logout:hover{
    color: #00c091;
}

#aside .module-management{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    padding-top: 100px;
    transform: translateX(-100%);
    transition: 0.3s;
}

#aside .module-management.active{
    transform: translateX(0);
}

#aside .module-management h3{
    font-size: 18px;
    color: #00c091;
    text-align: center;
    margin-bottom: 30px;
}

#aside .module-management>ul{
    margin-bottom: 30px;
}

#aside .module-management>ul li{
    color: #666;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    padding: 15px 45px;
}

#aside .module-management ul li:first-child .switch-btn:before{
    display: block;
    content: '必填';
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 18px;
}

#aside .module-management ul li:first-child .switch-btn:after{
    display: none;
}

#aside .module-management .close-module-btn{
    display: block;
    width: 120px;
    margin: 0 auto;
    border: 1px solid #00c091;
    color: #00c091;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    line-height: 30px;
}

#aside .module-management .close-module-btn:hover{
    background-color: #00c091;
    color: #fff;
}

.resume section{
    position: relative;
}

.resume section.active .section-btn-group,
.resume section:hover .section-btn-group{
    display: flex;
}

.resume section .section-btn-group{
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    display: none;
}

.resume section .item-btn-group{
    position: absolute;
    left: -30px;
    top: 0;
    display: none;
    flex-direction: column;
}

.resume section .item-btn-group .btn{
    margin-left: 0;
    background-color: #E7F2FF;
    color: #00c091;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.resume section .expe-item:hover .item-btn-group{
    display: flex;
}

.resume section .btn{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #00c091;
    color: #fff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
}

.preview > header,
.preview > aside,
.preview .dialog-wrapper,
.preview .mask,
#app.inprint .preview-header{
    visibility: hidden;
}
#app.preview{
    background-color: #E7F2FF;
}

.preview #main{
    transform: translateX(0);
}

.preview #main .section-btn-group,
.preview #main .item-btn-group{
    display: none;
}

.preview #main .editarea:hover,
.preview #main .editarea:focus,
.preview #main section:hover,
.preview #main section.active,
.preview #main .resume section .content .expe-item:hover{
    background-color: transparent;
    border-color: transparent;
}

#app.inprint{
    padding: 0;
}

#app.inprint #main{
    padding: 0;
}