<!doctype html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>简历编辑器</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/editarea.css">
    <link rel="stylesheet" href="./css/switch-btn.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_808865_gnpxi9dc3fc.css">
</head>
<body>
<div id="app" :class="{preview: preview, inprint: inPrint}">
    <header-default :currentuser="currentUser" :prompt="headerPrompt" :islogin="isLogIn"></header-default>
    <!--预览状态头部-->
    <preview-header v-if="!inPrint && preview"></preview-header>
    <!--侧边栏-->
    <aside-left :resume="resume" :module="module"></aside-left>
    <!--简历-->
    <resume :resume="resume" :module="module" :preview="preview"></resume>
    <!--登录对话框-->
    <login-dialog v-if="dialog.loginVisible"></login-dialog>
    <!--注册对话框-->
    <sign-up v-if="dialog.signUpVisible"></sign-up>
    <!--注册成功提示对话框-->
    <signup-success v-if="dialog.signUpSuccessVisible"></signup-success>
</div>
<script src="../vendors/js/av-min.js"></script>
<script src="../vendors/js/vue.min.js"></script>
<script src="../vendors/js/vue-router.min.js"></script>
<script src="../vendors/laydate/laydate.js"></script>
<script src="../vendors/js/validator.js"></script>
<script src="js/init-av.js"></script>
<script src="js/editarea.js"></script>
<script src="js/switch-btn.js"></script>
<script src="js/header.js"></script>
<script src="js/preview-header.js"></script>
<script src="js/resume.js"></script>
<script src="js/aside.js"></script>
<script src="js/login.js"></script>
<script src="js/signup.js"></script>
<script src="js/signup-success.js"></script>
<script src="js/app.js"></script>
<script src="js/init-laydata.js"></script>
</body>
</html>